*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body::-webkit-scrollbar{
    display: none
}
.container{
    height: 100vh;
    width: 100%;
    background-color: black;
}
.hero{
    height: 640px;
    width: 100%;
    background-color: black;
    background-image: url("https://images.pexels.com/photos/20641719/pexels-photo-20641719.jpeg?cs=srgb&dl=pexels-francesco-ungaro-20641719.jpg&fm=jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 30px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav span{
    display: none;
}
input{
    display: none;
}
a{
    font-size: 20px;
    margin-right: 10px;
   
}
a:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 20px;
}
.subnav{
    background-color: black;
    color: white;
    padding: 15px 50px;
    border-radius: 30px;
}
.btn1{
    font-size: 20px;
    background: none;
    border: none;
    color: white;
    margin-right: 10px;
}
.btn{
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    font-size: 20px;
}
.hero-content{
   margin: auto;
   height: 400px;
   width: 100%;
   margin-top: 30px;
   padding: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
}
.hero-content h1{
    font-size: 55px;
    padding: 20px 0;
}
.hero-content p{
    font-size: 25px;
}
.hero-content button{
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    margin-top: 20px;
    font-size: 20px;
}
.idea{
    height: 400px;
    background-color: black;
    padding: 30px;
    color: white;
    overflow: hidden;
}
.idea h1{
    font-size: 55px;
}
.ideaicons{
    background-color: black;
    height: 200px;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    overflow-x: hidden;
    animation-name: ideaicons;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes ideaicons{
    from{
        transform: translateX(200);
    }
    to{
        transform: translateX(-700px);
    }
}

.images{
    /* padding: 30px; */
    background-color: black;
    color: white;
}
.first{
    height: 600px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.first-info h1{
    font-size: 40px;
    padding: 15px 0;
}
.first p{
    font-size: 20px;
    padding: 10px 0;
    width: 500px;
    padding-bottom: 30px;
}
.first button{
    padding: 10px 20px;
    border: 2px solid white;
    background-color: black;
    border-radius: 20px;
    color: white;
    margin-right: 10px;
    font-size: 15px;
}
.first button:hover{
    background-color: white;
    color: black;
}
.number{
    color: purple;
    font-size: 80px;
}
.box1{
    height: 450px;
    width: 550px;
    /* border: 2px solid white; */
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 5px 5px 10px purple, -5px -5px 10px purple;

}
.box1 img{
    height: 100%;
    width: 100%;
    object-fit: cover; 
    transition: 1.5s;
}
.box1 img:hover{
    cursor: pointer;
    transform: scale(1.5);
}



@media only screen and (min-width:300px) and (max-width:600px){
    .container{
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
    }
    .hero{
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
    }
    nav{
        width: 100%;
    }
    nav span{
    display: block;
    }
    
    #menu:checked ~ .subnav{
        display:flex;
        flex-direction: column;
    }
    .subnav{
        display: none;
        height:auto;
        position: absolute;
        background-color:rgb(221, 229, 231);
        width:270px;
        top:80px;
        flex-direction: column;
        z-index: 999;
        animation-name: abs;
        animation-duration: 2s;
        padding:10px;
        opacity: 0.7;
        text-align: center;
    }
    @keyframes abs {
        from{
            opacity:0;
            transform: translatex(10px);
        }
        to{
            opacity: 0.7;
            transform: translatex(0px);
        }
    }
    a{
        color: black;
    }
    .btn, .btn1{
        display: none;
    }
    .hero-content{
        flex-wrap: wrap;
        height: 100%;
    }
    .idea{
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
    }
    .images{
        display: flex;
        flex-direction: column;
    }
    .first{
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    .first-info{
        height: 100%;
        width: 280px;
    }
    .box1{
        height: 100%;
        width: 270px;
    }
    .first-first{
        display: flex;
        flex-direction: column-reverse;
    }
    .first p{
        width: 300px;
    }
 }
@media only screen and (min-width:600px) and (max-width:900px){
    .container{
        height: 100%;
        width: 100%;
    }
     .hero{
        display: flex;
        flex-wrap: wrap;
    }
     nav{
        width: 100%;
    }
    nav span{
    display: block;
    }
    
    #menu:checked ~ .subnav{
        display:flex;
        flex-direction: column;
    }
    .subnav{
        display: none;
        height:auto;
        position: absolute;
        background-color:rgb(221, 229, 231);
        width:270px;
        top:90px;
        right: 30px;
        flex-direction: column;
        z-index: 999;
        animation-name: abs;
        animation-duration: 2s;
        padding:10px;
        opacity: 0.7;
        text-align: center;
    }
    @keyframes abs {
        from{
            opacity:0;
            transform: translatex(10px);
        }
        to{
            opacity: 0.7;
            transform: translatex(0px);
        }
    }
    a{
        color: black;
    }
    .btn, .btn1{
        display: none;
    }
    .hero-content{
        flex-wrap: wrap;
    }
    .idea{
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
    }
    .first{
        display: flex;
        padding: 20px;
    }
    .first-info{
        width: 280px;
    }
    .box1{
        width: 270px;
    }
   
    .first p{
        width: 300px;
    }
}




































.trip{
    height: 900px;
    width: 100%;
    padding: 30px;
    background-color: black;
    color: white;
}
.trip1 h1{
    font-size: 55px;
}

.trip-plane{
   display: flex;
   align-items: center;
   justify-content: space-around;
   margin-top: 50px;
}
.b{
    width: 400px;
    height: 500px;
    border: 2px solid white;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 8px 8px 20px rgb(97, 22, 97) , -8px -8px 20px rgb(97, 22, 97);
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
   
}
.table tr,th{
    border-bottom: 1px solid white;
    padding: 20px 3px;
    text-align: left;
    /* width: 150px; */
}
.b button{
    background-color: white;
    border: none;
    border-radius: 20px;
    padding: 10px;
    margin-top: 30px;
}
.row{
    text-align: left;
}
.row p{
    font-size: 12px;
}
@media only screen and (min-width:300px) and (max-width:600px){
    .trip{
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
    }
    .trip1{
        height: 100%;
        width: 100%;
    }
    .trip-plane{
        display: flex;
        flex-direction: column;
    }
    .b{
        width: 260px;
        height: 100%;
        margin-bottom: 20px;
    }
}
@media only screen and (min-width:600px) and (max-width:900px){
    .trip{
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
    }
    .trip1{
        height: 100%;
        width: 100%;
    }
    .b{
        width: 300px;
        height: 100%;
        margin-bottom: 20px;
        margin-right: 20px;
    }
}






















.explore{
    /* height: 800px; */
   width: 100%;
    background-color: black;
    color: white;
    padding: 30px;
}

.explorediv h1{
    font-size: 60px;
}

.explore-images{
    height: 700px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.explore-box{
    height: 600px;
}
.exploreimg{
    height: 500px;
    width: 400px;
    border: 2px solid white;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 5px 5px 10px purple, -5px -5px 10px purple;
    margin-bottom: 25px;
}
.exploreimg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* overflow: hidden; */
    transition: 1.5s;
}
.exploreimg img:hover{
    transform: scale(1.2);
}
.explore-box span{
    font-size: 40px;
    color: purple;
}
.explore-box p{
    font-size: 18px;
    padding: 5px 0;
}
.green{
    color: green;
}

@media only screen and (min-width:300px) and (max-width:600px){
    .explore{
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .explore-images{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 300px;
    }
    .explore-box{
        height: 100%;
        width: 280px;
        margin-bottom: 20px;
    }
    .exploreimg{
        width: 280px;
    }
}
@media only screen and (min-width:600px) and (max-width:900px){
    .explore{
        height: 100%;
        width: 100%;
       
    }
    .explore-images{
        height: 100%;
        width: 300px;
        padding: 30px;
    }
    .explore-box{
        height: 100%;
        width: 300px;
        margin-bottom: 20px;
        padding: 30px;
    }
    .exploreimg{
        width: 280px;
    }
}



































.feature{
    height: 630px;
    width: 100%;
    background-color: black;
    color:white;
    padding: 30px;
}
.feature h1{
    font-size: 60px;
}

.feature-box{
    height: 300px;
    width: 800PX;
    border-radius: 30px;
    border: 2px solid white;
    margin: auto;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.F-BOX{
    height: 300px;
    width: 200px;
    padding: 20px;
    border-right:2px solid white;
}
.feature-box p{
    font-size: 20px;
    padding-top: 20px;
    color: rgb(223, 212, 212);
}
.F-BOX1{
    height: 300px;
    width: 200px;
    padding: 20px;
}
.F-BOX span{
   font-size: 50px;
}
.F-BOX1 span{
   font-size: 50px;
}
@media only screen and (min-width:300px) and (max-width:600px){
    .feature{
        height: 100%;
        width: 100%;
        flex-wrap: wrap;
        padding: 20px;
    }
    .feature-box{
        padding: 20px;
        height: 100%;
        width: 280px;
        display: flex;
        flex-direction: column;
    }
    .F-BOX{
        border: none;
    }
}
@media only screen and (min-width:600px) and (max-width:900px){
    .feature{
        height: 100%;
        width: 100%;
        flex-wrap: wrap;
        padding: 20px;
    }
    .feature-box{
        height: 100%;
        width: 100%;
    }
   
}


























.personal{
    height: 700px;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.person{
    height:500px;
    width: 400px;
    border: 2px solid white;
    border-radius: 30px;
    overflow: hidden;
}
.personinfo{
    width: 630px;
}
.person img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 1.5s;
}
.person img:hover{
    transform: scale(1.2);
}
.personal button{
    padding: 7px 20px;
    border: 2px solid white;
    background-color: black;
    color: white;
    border-radius: 20px;
}
.personal button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
.personal h1{
    font-size: 55px;
}
.personal p{
    padding: 20px 0;
    font-size: 25px;
}
@media only screen and (min-width:300px) and (max-width:600px){
    .personal{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .person{
        width: 280px;
    }
    .personinfo{
        width: 280px;
        height: 100%;
    }
}
@media only screen and (min-width:600px) and (max-width:900px){
    .personal{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .person{
        width: 400px;
    }
    .personinfo{
        width: 500p;
        height: 100%;
    }
}
























.preview{
    height: 700px;
    width: 100%;
    background-color: black;
    color: white;
    padding: 30px;
}
.preview h1{
    font-size: 55px;
    padding-bottom: 30px;
}

.previewbox{
    height: 470px;
    width: 80%;
    border: 2px solid white;
    margin: auto;
    border-radius: 30px;
    overflow: hidden;
    /* padding: 20px; */
}
.sec1{
    height:70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:rgb(102, 94, 94);
    padding: 20px 30px;
}
.sec{
    display: flex;
    align-items: center;
    justify-content: center;
}
.box12{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec2{
    height: 400px;
    width:50%;
    background-color: rgb(46, 39, 39);
    padding: 20px;
}
.display{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: left;
    /* gap: 100px; */
    border-bottom: 2px solid white;
    padding: 20px 0;
}
.display1 p{
    width: 280px;
    
}
.sec2 button{
    padding: 10px;
    background-color: rgb(80, 67, 67);
    border: none;
    border-radius: 15px;
    margin: 20px 10px;
    color: white;
}
.sec3{
    height: 400px;
    width:50%;
    background-color:rgb(83, 69, 69);
    padding: 20px;
}
.sec3 p {
    padding: 15px 30px;
    font-size: 20px;
}
.black{
   height: 100px;
   width: 250px;
   border-radius: 20px;
   background-color:rgb(46, 39, 39) ;
   padding: 10px;
   margin-top: 10px;
}
.black p{
    padding: 0px;
    font-size: 15px;
}
@media only screen and (min-width:300px) and (max-width:600px){
    .preview{
        height: 100%;
        width: 100%;
        flex-wrap: wrap;
    }
    .box12{
        display: flex;
        flex-direction: column;
        /* height: 100%;
        width: 100%; */
    }
    .previewbox{
        height: 100%;
        width: 100%;
    }
    .sec2 {
    height: 100%;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    }
    .display1 p{
        width: 200px;
    }
    .display{
        gap: 10px;
    }
    .sec3{
    height: 100%;
    width: 100%;
    padding: 20px;
    }
    .black{
        width: 100%;
    }
}

@media only screen and (min-width:600px) and (max-width:900px){
    .preview{
        height: 100%;
        width: 100%;
        flex-wrap: wrap;
    }
    .previewbox{
        height: 100%;
        width: 100%;
    }
    .box12{
        height: 100%;
        width: 100%;
        flex-direction: column;
    }
    .sec2{
        height: 100%;
        width: 100%;
    }
    .sec3{
        height: 100%;
        width: 100%;
    }
    .sec2 button{
        margin: 5px;
    }
   
}

































.testimonals{
    height: 630px;
    width: 100%;
    background-color: black;
    color: white;
    padding: 30px;
}
.testimonals h1{
    font-size: 55px;
}
.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;

}
.card {
    height: 250px;
    width: 350px;
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 30px;
    padding: 20px;
}
.p{
    padding: 20px 0;
    font-size: 20px;
    height: 130px;
}
.animation{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 20px;
    overflow-x: hidden;
    animation-name: animation;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: both;    
    animation-iteration-count: infinite;
}
@keyframes animation{
    from{
        transform: translateX(800);
    }
    to{
        transform: translateX(-500px);
    }
}

@media only screen and (min-width:300px) and (max-width:600px){
    .testimonals{
        height: 100%;
        width: 100%;
        padding: 20px;
    }
    .cards{
        height: 100%;
        width: 100%;
        flex-direction: column;
    }
    .card{
        width: 280px;
        height: 100%;
    }
    .animation{
        overflow-x: hidden;
        width: 100%;
    }
}
@media only screen and (min-width:600px) and (max-width:900px){
    .testimonals{
        height: 100%;
        width: 100%;
        padding: 20px;
    }
    .cards{
        height: 100%;
        width: 100%;
    }
    .card{
        width: 280px;
        height: 100%;
    }
    .p{
        font-size: 15px;
    }
    .animation{
        overflow-x: hidden;
        width: 100%;
    }
}































.planning{
    height: 630px;
    background-color: black;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3JTDvafbQxh2GL18olk7FPOx9rj5NwcodiAT1cSpjRA&s=10");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.planning h1{
    font-size: 60px;
}
.planning p{
    font-size: 30px;
    padding: 30px;
}
.planning button{
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
}

@media only screen and (min-width:300px) and (max-width:600px){
    .planning{
        /* height: 100%; */
        width: 100%;
    }
}
@media only screen and (min-width:600px) and (max-width:900px){
    .planning{
        /* height: 100%; */
        width: 100%;
    }
}




























.contact{
    height: 330px;
    width: 100%;
    background-color: rgb(94, 90, 90);
    color: white;
    padding: 30px;
}
.contactinfo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 20px;
    line-height: 30px;
}
.info{
    height: 200px;
    width: 300px;
}
.info h1{
    padding-bottom:30px ;
}
.info1{
    height: 200px;
    width: 350px;
}
.info2 h2{
    width: 300px;
    height: 50px;
    margin-top: 20px;
}
.info2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.info3{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    gap: 20px;  
    font-size: 30px;
}
.info2 p{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer{
    background-color:rgb(94, 90, 90);
    height: 100px;
    width: 100%;
    text-align: center;
    padding: 50px  30px;
    font-size: 30px;
    word-spacing: 5px;
}
@media only screen and (min-width:300px) and (max-width:600px){
    .contact{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .contactinfo{
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    .info{
        width: 280px;
        height: 100%;
    }
    .info2{
        flex-direction: column;
        width: 280px;
        height: 100%;
    }
    .info3{
        width: 100%;

    }
    footer{
        height: 100%;
        width: 100%;
    }
}
@media only screen and (min-width:600px) and (max-width:900px){
    .contact{
        height: 100%;
        width: 100%;
       
    }
    .contactinfo{
        padding: 20px;
        display: flex;
        align-items: start;
    }
    .info{
        width: 300px;
        height: 100%;
    }
    .info h1{
        font-size: 25px;
        margin-bottom: 20px;
     }
    .info3{
        width: 100%;

    }
    footer{
        height: 100%;
        width: 100%;
    }
}